%h2 Hunted the following stations:
- types.each_pair do |type, stations|
  %table
    %tr
      %th{ :colspan => '3' }= type
    - stations.each do |station|
      %tr
        %td= station[:station].callsign
        %td= station[:station].frequency
        %td= station[:strength]
